@page "/creators"

<PageTitle>Home</PageTitle>

<h1><b>Creators</b></h1>

<h4><b>Aalok Resmi and Adam Gillion</b></h4>

<p>
    Aalok Resmi and Adam Gillion are two teenagers from Maidstone who were assigned a task as part of their Work Experience program at RDT Limited to create a Blazor application that would call an API, turn the JSON response into C# objects and display that data in the UI. The project was to be completed in a week and the two developers were to work together to complete the task.
</p>

