@page "/"

<PageTitle>Home</PageTitle>

<h1><b>Harry Potter API Project</b></h1>

<h4><b>Objective of this Project</b></h4>

<p>
    This project was to allow us to explore how a Blazor app can call an API, turn the JSON response into C# objects and display that data in the UI
</p>

<h4><b>Overview of Features</b></h4>

<ol>
    <li>A list of all the characters in Harry Potter</li>
    <li>A list of spells in Harry Potter</li>
    <li>A list of potions in Harry Potter</li>
    <li>A list of books written about Harry Potter</li>
    <li>A 'Character of the day' page, a page that is dedicated to one Harry Potter character a day</li>
    <li>A 'Creators' page that has an overview on the creators of this page</li>
</ol>


